<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">

          <form #signUp="ngForm" (ngSubmit)="onSubmit(signUp)">

            <div class="form-group">
              <label for="UserName"><b>UserName*</b></label>

              <input
                required
                name="UserName"
                ngModel
                type="text"
                #UserName="ngModel"
                class="form-control">

              <strong
                class="text-danger"
                *ngIf="UserName.touched && UserName.invalid">

                UserName is required field
              </strong>
            </div>

            <div class="form-group">
              <label for="email"><b>Email*</b></label>
              <input
                required
                name="email"
                ngModel
                type="text"
                #email="ngModel"
                class="form-control">

              <strong
                class="text-danger"
                *ngIf="email.touched && email.invalid">

                Email is required field
              </strong>
            </div>

            <div class="form-group">
              <label for="password"><b>Password*</b></label>

              <input
                required
                name="password"
                ngModel
                type="password"
                #password="ngModel"
                class="form-control">

              <strong
                class="text-danger"
                *ngIf="password.touched && password.invalid">

                Password is required field
              </strong>
            </div>

            <button
              mat-raised-button
              color="primary"
              class="w-100"
              [disabled]="signUp.invalid">

              SignUp
            </button>

          </form>

        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4" *ngIf="formData">
    <div class="col-md-12">
      <div class="card p-3">

        <h3>User Data</h3>

        <p>
          <strong>UserName :</strong>
          {{formData.UserName}}
        </p>

        <p>
          <strong>Email :</strong>
          {{formData.email}}
        </p>

        <p>
          <strong>Password :</strong>
          {{formData.password}}
        </p>

      </div>
    </div>
  </div>
</div>